{
    "$schema": "https://www.krakend.io/schema/v2.9/krakend.json",
    "port": 8000,
    "version": 3,
    "plugin": {
        "pattern": ".so",
        "folder": "/usr/local/krakend/plugins/"
    },
    "endpoints": [
        {
            "endpoint": "/todo/all",
            "input_headers": ["Todo-User-Email"],
             "backend": [
                {
                    "url_pattern": "/api/AzureWebAdapter/todo/all",
                    "host": [
                        "{{ env "BACKEND_URL" }}"
                    ],
                    "is_collection": true
                }
            ]
        },
        {
            "endpoint": "/todo/new",
            "method": "POST",
            "input_headers": ["Todo-User-Email", "Content-Type"],
             "backend": [
                {
                    "url_pattern": "/api/AzureWebAdapter/todo/new",
                    "host": [
                        "{{ env "BACKEND_URL" }}"
                    ]
                }
            ]
        },
        {
            "endpoint": "/todo/remove",
            "method": "POST",
            "output_encoding": "no-op",
            "input_headers": ["Todo-User-Email", "Content-Type"],
             "backend": [
                {
                    "url_pattern": "/api/AzureWebAdapter/todo/remove",
                    "host": [
                        "{{ env "BACKEND_URL" }}"
                    ]
                }
            ]
        },
        {
            "endpoint": "/auth/token",
            "output_encoding": "no-op",
            "input_query_strings": ["code"],
            "backend": [
                {
                    "url_pattern": "/api/AzureWebAdapter/auth/token",
                    "host": [
                        "{{ env "BACKEND_URL" }}"
                    ]
                }
            ]
        }
    ],
    "extra_config": {
        "plugin/http-server": {
            "name": ["krakend-cognito-jwt"],
            "krakend-cognito-jwt": {
                "applicable-endpoints": [
                    "/todo/all",
                    "/todo/new",
                    "/todo/remove"
                ],
                "login-url": "{{env "COGNITO_URL"}}" 
            }
        },
        "security/cors": {
            "allow_origins": [
                "https://calm-plant-00f9eaf0f.6.azurestaticapps.net"
            ]
        }
    }
}